.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding: 2rem;
}

.detail {
  padding: 2rem;
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 300ms ease-in-out;
}

.card img {
  width: 100%;
}

.title {
  width: 100%;
}

.paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border-bottom: 1px solid blue;
}

.paginationActive a {
  background-color: blue;
  color: white;
}

